<?xml version="1.0" encoding="UTF-8"?>
<schedular>
	<userid>32</userid>
	<application id="test_appl">
		<priority>high</priority>
		<dependencies>
			<dependency>getpicture.py</dependency>
			<dependency>getfingerprint.py</dependency>
		</dependencies>
		<algorithminfo>
			<algorithm>detect_person.py</algorithm>
			<jobtype>cron</jobtype>
			<schedulinginfo>
				<days>
					<day>monday</day>
					<day>thursday</day>
				</days>
				<start>10:00</start>
				<duration>180</duration>
			</schedulinginfo>
		</algorithminfo>
	</application>
	<application id="test_appl2">
		<priority>low</priority>
		<dependencies></dependencies>
		<algorithminfo>
			<algorithm>detect_temperature.py</algorithm>
			<jobtype>single</jobtype>
			<schedulinginfo>
				<days></days>
				<start>12:00</start>
				<duration>60</duration>
			</schedulinginfo>
		</algorithminfo>
	</application>
</schedular>